<div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 float-shadow card-container">
  <div class="card center-block">
    <img ng-src="images/{{card.img}}" class="img-responsive center-block card-img">
    <img ng-src="images/token.png" ng-if="card.isToken" ng-show="loaded" class="token img-responsive">
    <img ng-src="images/{{card.class == nil ? 'neutral' : card.class.toLowerCase()}}.png" ng-show="loaded"
    ng-if="!card.isToken && (card.class == nil || card.class.indexOf(' ') === -1)" class="token img-responsive">
  </div>
</div>
