<div class="row">
  <div class="col-md-offset-3 col-md-6" >
    <div id="custom-search-input" class="input-group input-group-lg">
      <input ng-model="query" ng-change="search(query)"
      ng-model-options="{debounce:200}" type="search" class="search-query form-control" placeholder="" autofocus>
      <span class="input-group-btn">
        <button class="btn" type="button">
          <span class="glyphicon glyphicon-search"></span>
        </button>
      </span>
    </div>
  </div>
</div>

<div class="row" ng-repeat="row in rows">
  <div ng-class="{'col-md-offset-1': $first}" class="col-md-2" ng-repeat="card in row">
    <img ng-src="images/{{card.img}}" alt="...">
  </div>
</div>
