<div class="header">
  <!-- <ul class="nav nav-pills pull-right"> -->
    <!-- <li class="active"><a ng-href="#">Home</a></li> -->
    <!-- <li><a ng-href="#">About</a></li> -->
    <!-- <li><a ng-href="#">Contact</a></li> -->
  <!-- </ul> -->
  <h3 class="text-muted">hearth cards</h3>
</div>

<div class="row">
  <div class="col-md-offset-3 col-md-6" >
    <div class="input-group input-group-lg">
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-search"></span>
      </span>
      <input ng-model="query" ng-change="search(query)"
      ng-model-options="{debounce:200}" type="search" class="form-control" placeholder="Search" autofocus>
    </div>
  </div>
</div>

<div class="row" ng-repeat="row in rows">
  <div class="col-md-2" ng-repeat="card in row">
    <img ng-src="images/{{card.img}}" alt="...">
  </div>
</div>

<div class="footer">
  <p><span class="glyphicon glyphicon-heart"></span>hearthcards</p>
</div>
